
<!-- <mat-menu #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
    <button mat-menu-item>Option 3</button>
  </mat-menu> -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="health">Todos List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="education">Button List</a>
    </li>
</ul>
<router-outlet></router-outlet>